<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nisarga.nisargaveggiez">

    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>

    <uses-sdk tools:overrideLibrary="com.mindorks.placeholderview" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.NFC" />

    <uses-feature android:name="android.hardware.nfc" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/app_ico"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">

        <activity
            android:name="com.nisarga.nisargaveggiez.Splash"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.nisarga.nisargaveggiez.Home.HomePage"
            android:label="Home Page"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.nisarga.nisargaveggiez.Home.ProductSearch"
            android:label="Search"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysVisible">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.nisarga.nisargaveggiez.ContactUs"
            android:label="Contact Us"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nisarga.nisargaveggiez.TermsConditions"
            android:label="Terms and Conditions"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nisarga.nisargaveggiez.PrivacyPolicy"
            android:label="Privacy Policy"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nisarga.nisargaveggiez.DeliveryInformation"
            android:label="Faqs"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.nisarga.nisargaveggiez.Home.CategoriesBottomNav"
            android:label="Categories List"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.nisarga.nisargaveggiez.Home.ProductDetailHome"
            android:label="Home Category"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.nisarga.nisargaveggiez.Wishlist.WishListHolder"
            android:label="Wishlist"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.nisarga.nisargaveggiez.Home.HomeCategory"
            android:label="Home Product"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.nisarga.nisargaveggiez.Home2.HomeTwo"
            android:label="Home Two"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nisarga.nisargaveggiez.Home1.HomeOne"
            android:label="Home One"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.nisarga.nisargaveggiez.Home2.HomeTwoCategory"
            android:label="Home Two Category"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.nisarga.nisargaveggiez.Home3.HomeThree"
            android:label="Home Three"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.nisarga.nisargaveggiez.appIntro.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.nisarga.nisargaveggiez.profile"
            android:label="My Profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.nisarga.nisargaveggiez.EditProfile"
            android:label="Edit Profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.nisarga.nisargaveggiez.MyOrder.ReorderPayMentGateWay"
            android:label="Edit Profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.nisarga.nisargaveggiez.MyOrder.OrderPaymentSuccess"
            android:label="Edit Profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.nisarga.nisargaveggiez.MyOrder.OrderPaymentFailure"
            android:label="Edit Profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.nisarga.nisargaveggiez.ChangePassword"
            android:label="Change Password"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.nisarga.nisargaveggiez.forgot"
            android:label="Forgot Password"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.nisarga.nisargaveggiez.MyOrder.MyOrders"
            android:label="My Orders"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nisarga.nisargaveggiez.MyOrder.ReorderHolder"
            android:label="ReOrders"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nisarga.nisargaveggiez.MyOrder.CheckoutOrder"
            android:label="Checkout Order"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nisarga.nisargaveggiez.MyOrder.OrderCheckItems"
            android:label="Check Items with Updated Price"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nisarga.nisargaveggiez.payment.PaymentDetails"
            android:label="Payment Options"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nisarga.nisargaveggiez.payment.OTPVerificationPayment"
            android:label="Payment OTP Verification"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.nisarga.nisargaveggiez.payment.PayMentGateWay"
            android:label="Payment OTP Verification"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.nisarga.nisargaveggiez.MyOrder.OrderDetailsHolder"
            android:label="Order Details"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <!--<activity
            android:name="com.nisarga.nisargaveggiez.Home.CategoryFilter"
            android:screenOrientation="portrait"
            android:label="Filters"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>-->

        <activity
            android:name="com.nisarga.nisargaveggiez.MyOrder.OrderDetial"
            android:label="Order Details"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.nisarga.nisargaveggiez.notifications.MyNotifications"
            android:label="Notifications"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="Notification" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.nisarga.nisargaveggiez.addresbook.AddressBook"
            android:label="AddressBook"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.nisarga.nisargaveggiez.addresbook.AddAddress"
            android:label="Add Address"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.nisarga.nisargaveggiez.franchiseRequest"
            android:label="Francise Request"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.nisarga.nisargaveggiez.preferences"
            android:label="Preferences"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.nisarga.nisargaveggiez.cart.cart"
            android:label="Cart"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.nisarga.nisargaveggiez.billing.billingAddress"
            android:label="Shipping And Billing Address"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nisarga.nisargaveggiez.cart.ShippingNewAddress"
            android:label="New Shipping Address"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nisarga.nisargaveggiez.cart.CheckOutMyCart"
            android:label="Checkout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nisarga.nisargaveggiez.cart.ConfirmOrder"
            android:label="Order confirmation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.nisarga.nisargaveggiez.search"
            android:label="Search"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.nisarga.nisargaveggiez.ccavenue.ccavenue"
            android:label="Payment"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.nisarga.nisargaveggiez.successOrder"
            android:label="Order Success"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.nisarga.nisargaveggiez.failOrder"
            android:label="order Failed"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.nisarga.nisargaveggiez.cancelledOrder"
            android:label="Order Cancelled"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.nisarga.nisargaveggiez.Delivery"
            android:label="Delivery"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.nisarga.nisargaveggiez.location"
            android:label="Delivery"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.nisarga.nisargaveggiez.login"
            android:label="Login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.nisarga.nisargaveggiez.ProductDetails_act"
            android:label="Product Title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.nisarga.nisargaveggiez.barcode.ScannerActivity"
            android:label="Scan"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.nisarga.nisargaveggiez.NoInternet"
            android:label="Scan"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.nisarga.nisargaveggiez.ProfileSection.Login_act"
            android:label="Login Page"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.nisarga.nisargaveggiez.ProfileSection.SignUp_act"
            android:label="SignUp Page"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.nisarga.nisargaveggiez.register"
            android:label="Register"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.nisarga.nisargaveggiez.barcode.nfc"
            android:label="NFC"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />

        </activity>


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDLbezK1KFIlg8j_PWmSA_utSdyG-X_LtI" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <service
            android:name="com.nisarga.nisargaveggiez.GetAddressIntentService"
            android:exported="false" />

        <!-- Firebase Notifications -->
        <service android:name="com.nisarga.nisargaveggiez.fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_notification" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />


        <service android:name="com.nisarga.nisargaveggiez.fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- ./Firebase Notifications -->

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>


        <!-- New Section-->
        <activity
            android:name="com.nisarga.nisargaveggiez.ProfileSection.LoginSignup_act"
            android:label="LoginSignup_act"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nisarga.nisargaveggiez.ProfileSection.ForgotPassword"
            android:label="Forgot Password"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nisarga.nisargaveggiez.ProfileSection.ForgotPasswdOtp"
            android:label="OTP Verification for Forgot Password"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nisarga.nisargaveggiez.ProfileSection.ResetPassword"
            android:label="Reset Password"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.nisarga.nisargaveggiez.ProfileSection.MyProfile_act"
            android:label="My Profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.nisarga.nisargaveggiez.ProfileSection.EditProfile_act"
            android:label="Edit Profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.nisarga.nisargaveggiez.ProfileSection.MyAddress_act"
            android:label="LoginSignup_act"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.nisarga.nisargaveggiez.ProfileSection.Offers_act"
            android:label="LoginSignup_act"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.nisarga.nisargaveggiez.ProfileSection.RefersAndEarn_act"
            android:label="LoginSignup_act"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.nisarga.nisargaveggiez.ProfileSection.RateUs_act"
            android:label="LoginSignup_act"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.nisarga.nisargaveggiez.Home.RateUsReviews"
            android:label="Rate us and Reviews"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.nisarga.nisargaveggiez.ProfileSection.Faqs_act"
            android:label="LoginSignup_act"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.nisarga.nisargaveggiez.ProfileSection.GoogleFeedback_act"
            android:label="LoginSignup_act"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.nisarga.nisargaveggiez.wallet.MyWalletActivity"
            android:label="My Wallet"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.nisarga.nisargaveggiez.wallet.AddMoneyToWallet"
            android:label="Add Money to Wallet"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.nisarga.nisargaveggiez.wallet.AddtoMoneyFailureAck"
            android:label="Add to Money Failure"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.nisarga.nisargaveggiez.wallet.AddtoMoneySuccessAck"
            android:label="Add to Money Success"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.nisarga.nisargaveggiez.wallet.LoyalityPoints"
            android:label="Loyality Point"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.nisarga.nisargaveggiez.wallet.LoyalityPointSuccessAck"
            android:label="Loyality Point Success Message"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.nisarga.nisargaveggiez.wallet.PaymentHistory"
            android:label="Payment History"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>


    </application>
</manifest>
