<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.ecommerce">

    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>

    <uses-sdk tools:overrideLibrary="com.mindorks.placeholderview" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>


    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.NFC" />

    <uses-feature android:name="android.hardware.nfc" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.app.ecommerce.Home.HomePage"
            android:label="Home Page"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.app.ecommerce.Wishlist.WishListHolder"
            android:label="Home Category"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.app.ecommerce.Home.HomeCategory"
            android:label="Home Category"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.app.ecommerce.Home2.HomeTwo"
            android:label="Home Two"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.app.ecommerce.Home1.HomeOne"
            android:label="Home One"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.app.ecommerce.Home2.HomeTwoCategory"
            android:label="Home Two Category"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.app.ecommerce.Home3.HomeThree"
            android:label="Home Three"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.app.ecommerce.contact"
            android:label="Contact Us"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.app.ecommerce.appIntro.WelcomeActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.app.ecommerce.about"
            android:label="About Us"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.app.ecommerce.profile"
            android:label="My Profile"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.app.ecommerce.EditProfile"
            android:label="Edit Profile"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.app.ecommerce.ChangePassword"
            android:label="Change Password"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.app.ecommerce.forgot"
            android:label="Forgot Password"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.app.ecommerce.MyOrder.MyOrders"
            android:label="My Orders"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.app.ecommerce.MyOrder.OrderDetial"
            android:label="Order Details"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.app.ecommerce.notifications.MyNotifications"
            android:label="Notifications"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.app.ecommerce.addresbook.AddressBook"
            android:label="AddressBook"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.app.ecommerce.addresbook.AddAddress"
            android:label="Add Address"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.app.ecommerce.franchiseRequest"
            android:label="Francise Request"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.app.ecommerce.preferences"
            android:label="Preferences"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.app.ecommerce.cart.cart"
            android:label="Cart"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.app.ecommerce.billing.billingAddress"
            android:label="Shipping And Billing Address"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.app.ecommerce.search"
            android:label="Search"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.app.ecommerce.ccavenue.ccavenue"
            android:label="Payment"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.app.ecommerce.successOrder"
            android:label="Order Success"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.app.ecommerce.failOrder"
            android:label="order Failed"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.app.ecommerce.cancelledOrder"
            android:label="Order Cancelled"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.app.ecommerce.delivery"
            android:label="Delivery"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.app.ecommerce.location"
            android:label="Delivery"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.app.ecommerce.login"
            android:label="Login"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.app.ecommerce.productDetial"
            android:label="Product Title"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.app.ecommerce.barcode.ScannerActivity"
            android:label="Scan"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.app.ecommerce.NoInternet"
            android:label="Scan"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.app.ecommerce.register"
            android:label="Register"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.app.ecommerce.barcode.nfc"
            android:label="NFC"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />

        </activity>


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDLbezK1KFIlg8j_PWmSA_utSdyG-X_LtI" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <service
            android:name="com.app.ecommerce.GetAddressIntentService"
            android:exported="false" />

        <!-- Firebase Notifications -->
        <service android:name="com.app.ecommerce.fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name="com.app.ecommerce.fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- ./Firebase Notifications -->

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

    </application>

</manifest>